/* fonts */
@font-face {
  font-family: lora;
  src: url("../src/assets/fonts/lora/Lora-Regular.ttf");
}
@font-face {
  font-family: slabo;
  src: url("../src/assets/fonts/slabo/Slabo27px-Regular.ttf");
}

/* root */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-secondary: #888888;
  --color-blue: #5386e4;
  --color-coral: #ff8552;

  --input-pading: 0.7rem;
  --button-padding: 0.5rem 1rem;
}

/* template styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lora;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* navbar */
.navbar {
  font-family: slabo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.searchbar {
  display: flex;
  align-items: center;
  position: relative;
}
.searchbar input {
  width: 100%;
  padding: var(--input-pading);
}
.searchbar .search-button {
  position: absolute;
  right: 4px;
  border: none;
}
hr {
  height: 0.2rem;
  background-color: black;
  margin-bottom: 1rem;
}

/* main */
.main {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.input,
.text-area {
  width: 100%;
  padding: var(--input-pading);
  margin-bottom: 1rem;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 5px;
}
.input::placeholder,
.text-area::placeholder {
  color: white;
}
.tag {
  display: inline-block;
  background-color: var(--color-coral);
  color: var(--color-white);
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  user-select: none;
}
.tag.active {
  background-color: var(--color-blue);
}
.tag:hover {
  cursor: pointer;
}
.fixed-tag {
  display: inline-block;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  margin: 0.5rem 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
  user-select: none;
}
button {
  padding: var(--button-pading);
}
.add-link {
  display: flex;
  justify-content: end;
  margin: 1rem;
  margin-bottom: 2rem;
}
.add-link button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.6rem 2.4rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
}
.list-card {
  display: flex;
  border: 2px solid black;
  padding: 0.4rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.col-2 {
  display: flex;
  justify-content: center;
  width: 16.67%;
}
.col-10 {
  width: 83.33%;
  padding-left: 1rem;
}
.col-10 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-10 .col {
  gap: 0.3rem;
}
.col-10 .row button {
  padding: 0.6rem;
  border-radius: 0.5rem;
}
.col-10 h4 {
  font-size: 1.2rem;
  display: block;
}
.col-10 a {
  display: block;
}
.col-row {
  display: flex;
  gap: 0.4rem;
}
.col-col {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.btn-edit {
  background-color: var(--color-blue);
  border: none;
}
.btn-delete {
  background-color: var(--color-coral);
  border: none;
}
.btn-delete .icon img {
  color: white;
}
/* media queries --> MOBILE FIRST APPROACH */
